<ion-navbar *navbar>
        <ion-title>Documents</ion-title>
</ion-navbar>
<ion-content padding class="documents">
    <ion-list *ngIf = '!user.faculty'>
        <ion-list-header>
            Encounters
        </ion-list-header>
        <button class ='tabs' ion-item *ngFor="let item of encounterList" (click)="openPage(item.component)">
            <ion-icon name='{{item.icon}}'> </ion-icon>
            {{item.title}}
        </button>
    </ion-list>
    <ion-list *ngIf = 'user.faculty'>
        <ion-list-header>
            Evaluation
        </ion-list-header>
        <button ion-item *ngFor="let item of evaluationList" (click)="openPage(item.component)">
            <ion-icon name='{{item.icon}}'> </ion-icon>
            {{item.title}}
        </button>
    </ion-list>
</ion-content>
