.clinic-evaluation {
    .range-box {
        text-align: left;
        .head {
            font-size: 14px;
            position: absolute;
        }
    }
    .special {
        margin-left: 15px;
    }
    .down {
        float: right;
    }
    .toggle-icon {
        width: 36px;
        height: 20px;
    }
    .toggle-inner {
        top: 0;
        width: 20px;
        height: 20px;
    }
    .radio-options {
        font-size: 14px;
        margin-left: 20px;
    }
    .radio-header {
        h4 {
            margin: 0%;
        }
        p {
            margin: 2px;
            float: right;
        }
    }
}
